@charset "utf-8";

:root {
    /*couleur*/
    --primary-color: rgb(108, 31, 20);
    --secondary-color: #e0b54f;
    --thirty-color: rgb(246, 222, 155);
    /*bordure*/
    --solid-black: 1px solid black;
    --solid-red: 1px solid red;
    --solid-blue: 1px solid blue;
    --solid-white: 1px solid white;
    /*Teinte*/
    --jaune-doux: #f6d365;
    --orange-pêche: #fda085;
    --jaune-doré: #fbb034;
    --orange-profond: #ff8008;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins";
    box-sizing: border-box;
}

::selection {
    color: #000000;
    background-color: var(--secondary-color);
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: "center";
    background-image: url("../img/subtle-cinematics-acZd3gWgfOw-unsplash.jpg");
}

#container nav {
    width: 15%;
    display: flex;
    min-width: 200px;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--jaune-doux), var(--orange-profond));
}

#container nav section {
    height: 150px;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    border-radius: 0px 0px 100% 0px;
    border-right: var(--solid-white);
    background-image: linear-gradient(to top right, var(--jaune-doux), var(--orange-pêche));
}

#container nav section h1 {
    color: var(--primary-color);
}

#container nav #navbar {
    display: flex;
    height: 500px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

#container nav #navbar ul {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-around;
}

#container nav #navbar ul li {
    width: 90%;
    height: 40px;
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    list-style: none;
    background: #F5F5F5;
    border: 1px solid #FFC107;
    border-radius: 1.5em 0 0 1.5em;
}

#container nav #navbar ul li.actif {
    color: white;
    background-color: var(--jaune-doux);
}

#container nav #navbar ul li.actif a,
#container nav #navbar ul li.actif a ion-icon {
    color: black;
    font-weight: bold;
}

#container nav #navbar ul li:hover,
#container nav #navbar ul li:hover a,
#container nav #navbar ul li:hover a ion-icon {
    color: black;
    font-weight: bold;
    background-color: var(--thirty-color);
}

#container nav #navbar ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 13px;
    color: #333333;
    padding-left: 10px;
    align-items: center;
    text-decoration: none;
    border-radius: 1.5em 0 0 1.5em;
}

#container nav #navbar ul li a ion-icon {
    padding: 5px;
    color: #333333;
}

#container nav #navbar a#logout {
    width: 90%;
    height: 40px;
    display: flex;
    border-right: none;
    padding-left: 10px;
    align-items: center;
    text-decoration: none;
    transition: all 2s ease;
    border-radius: 1.5em 0 0 1.5em;
    border: 1px solid var(--jaune-doré);
    background: linear-gradient(to top right, var(--orange-profond), var(--primary-color));
}

#container nav #navbar a#logout:hover {
    background: linear-gradient(to top left, var(--orange-profond), var(--primary-color));
}

aside {
    opacity: 1;
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Spinner circulaire simple */
#loader {
    top: 40vh;
    left: 35vw;
    width: 40px;
    height: 40px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top: 6px solid gold;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* Cacher le loader */
.hidden {
    display: none;
}
