@charset "utf-8";

.page-echeances {
    margin: auto;
    display: flex;
    height: 100vh;
    overflow: auto;
    padding: 0px 30px;
    align-items: center;
    flex-direction: column;
}

.page-echeances h2 {
    height: 70px;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 0.5em;
    justify-content: center;
    color: var(--primary-color);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top left, var(--orange-profond), var(--jaune-doux));
}

/* Conteneur scrollable du tableau */
.page-echeances table {
    width: 100%;
    display: block;
    min-width: 400px;
    overflow-y: auto;
    max-height: 90vh;
    border-radius: 10px;
    backdrop-filter: blur;
    border-collapse: collapse;
    background: var(--jaune-doré);
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.page-echeances table thead th {
    top: 0;
    z-index: 1;
    padding: 8px;
    min-width: 120px;
    position: sticky;
    border-top: none;
    border: 1px solid #dddddd;
    background-color: var(--primary-color);
}

.page-echeances tr:nth-child(even) {
    background-color: var(--jaune-doux);
}

.page-echeances table td {
    padding: 8px;
    color: black;
    min-width: 120px;
    text-align: center;
    border: 1px solid #dddddd;
}

.page-echeances tr:hover,
.page-echeances tr:nth-child(even):hover,
.page-echeances tr:hover td {
    color: white;
    background-color: var(--orange-profond);
}